priority -40

extends html, javascript, css

snippet t "Template section" b
<template>
$1
</template>
endsnippet

snippet s "Script section" b
<script>
$1
</script>
endsnippet

snippet st "Style section" b
<style>
$1
</style>
endsnippet
